<%- include('../templates/header') -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="h3 mb-2 mt-4 text-gray-800">Form Tambah User</h1>
      <div class="card shadow mb-4">
        <div class="card-body">
          <form method="post" action="/user_game">
            <div class="form-group">
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Input username"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="password"
                class="form-control"
                placeholder="Input password"
                required
              />
            </div>
            <div class="form-group">
              <a href="http://localhost:3000/home" class="btn btn-warning"
                >Batal</a
              >
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../templates/footer') -%>
