<%- include('../templates/header') -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
      <div class="alert alert-success" role="alert">
        Data user berhasil di update!
      </div>
      <div>
        <a
          class="btn btn-primary"
          href="http://localhost:3000/home"
          role="button"
          >Kembali ke Home</a
        >
      </div>
    </div>
  </div>
</div>

<%- include('../templates/footer') -%>
